.btn{
    background-color: brown;
    color: aliceblue;
}
header {
    background-color: brown;
    color: aliceblue;
    height: 200px;
}
body {
    background-color: gray;
}
.card{
 background-color: rgb(231, 219, 219);
}
